body{
    padding: 5rem;
}

header{
    display: flex;
    flex-direction: row;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.navigation{
    font-family: "Open Sans", sans-serif;
    width: 40%;
    height: 3rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.link{
    display: inline-block;
    width: 6rem;
}

.icon-container{
    display: inline-block;
    width: 3rem;
}

.separator{
    display: inline-block;
    width: 3rem;
    font-size: 1.4rem;
    color: grey;
}

@font-face{
    font-family: AllertaStencil;
    src: url(Allerta_Stencil/AllertaStencil-Regular.ttf);
}

.logo{
    font-family: "AllertaStencil";
    font-size: 20px;
    align-items: center;

}
.logo .first-letter{
    color: #a18a68;
}


/* Hero section */
/* .hero-image{
    display: inline-block;
    width: 99%;
    margin-top: 2px;
    
}

.shop{
    font-family: "Open Sans", sans-serif;
}


.view{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin: -55px 10px;
    color: #a18a68;
    font-family: "Open Sans", sans-serif;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

#dollar{
    color: #a18a68;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
} */



/* Main section */


.hero-container{
    padding-top: 1rem;
}

p, h2{
    font-family: "Open Sans", sans-serif;
    font-family: bold;
}

a.right{
    font-size: 1rem;
    float: right;
    color: #a18a68;
    font-family: "Open Sans", sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.item{
    margin-right: 4rem;
    width: 30%;
}

.item img{
    width: 100%;
    height: auto;
}

.item:last-child{
    margin-right: 0rem;
}

.item p{
    font-family: "Open Sans", sans-serif;
}

.price{
    color: #a18a68;
}


/* Footer */
footer{ 
    padding-top: 2rem;
}

.footer-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links a{
    color: gray;
    font-family: "Open Sans", sans-serif;
    padding-right: 2rem;
}

.newsletter-container input, button{
    border: none;
    background-color: white;
    font-family: "Open Sans", sans-serif;

}

.newsletter-container input[type="text"]{
    width: 300px;
    height: 2rem;
}

.newsletter-container{
    border-bottom: 1px solid black;
    margin-left: auto;
    width: 30%;
}

.newsletter-container button[type="submit"]{
    float: right;
}

.copyright{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    font-family: "Open Sans", sans-serif;
    

}

.copyright-img{
    width: 5%;
    position: relative;
    top: 3px;
    
}

.media{
    margin-left: auto;
    margin-top: 4px; 
}

#social{
    padding-left: 2rem;
}

