body{
    padding: 5rem;
}

header{
    display: flex;
    flex-direction: row;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.navigation{
    font-family: "Open Sans", sans-serif;
    width: 40%;
    height: 3rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.link{
    display: inline-block;
    width: 6rem;
}

.icon-container{
    display: inline-block;
    width: 3rem;
}

.separator{
    display: inline-block;
    width: 3rem;
    font-size: 1.4rem;
    color: grey;
}

@font-face{
    font-family: AllertaStencil;
    src: url(Allerta_Stencil/AllertaStencil-Regular.ttf);
}

.logo{
    font-family: "AllertaStencil";
    font-size: 20px;
    align-items: center;

}
.logo .first-letter{
    color: #a18a68;
}

/* Product Info */

.product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery{
    width: 10%;
}

.gallery img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}


.product-img{
    width: 43%;
}

.product-img img{
    width: 100%;
}

/* Product details */

.info-container{
    width: 43%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
}


.info-container h3{
    font-weight: lighter;
}

.price{
    color: #a18a68;
    margin-bottom: 3rem;
    font-weight: 10px;
}

.star-rating{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.star-rating img{
    margin-right: 4px;
}


.star-rating .reviews{
    color: #707070;
    display: inline-block;
    margin-left: 1rem;
    font-size: 0.9rem;
    position: relative;
    top: -4px;
}

.product-description{
    color: #707070;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.cart-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: 3rem;
}


.quantity-btns{
    background-color: #efefef;
    font-size: 1rem;
    border-radius: 4px;
}

.quantity-btns button{
    border: none;
    background-color: #efefef;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
}

.add-to-cart{
    width: 70%;
    background-color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}


/* Social share and others details */

.share-menu{
    padding-bottom: 1rem;
    
}

.share-menu img{
    margin-right: 1.2rem;
    cursor: pointer;
}

.share-menu .separator{
    color: lightgrey;
    display: inline-block;
    margin-right: 1.2rem;
    text-align: center;
}


.tag{
    line-height: 1.2rem;
}


.value{
    color: #707070;
}

/* product Menu */
.product-menu, .reviews-container{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.product-menu{
    border-bottom: 1px solid lightgray;

}

.product-menu .menu-item{
    height: 3rem;
    color: #707070;
    margin-top: 5rem;
    margin-right: 5rem;
    cursor: pointer;
}

.product-menu .menu-item.active{
    color: black;
    border-bottom: 1px solid black;
}

.reviews-list, .review-form{
    width: 48%;
}

.reviews-container{
    justify-content: space-between;
    margin-top: 1rem;
}

.reviews-list h4{
    font-weight: normal;
}

.review-title .date, .review-body{
    font-size: 0.9rem;
    color: #707070;
}

.review-body{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Review form for adding a new review */

.review-form h3{
    font-weight: normal;
}

.review-info, .label, .save-info{
    font-size: 0.8rem;
    color: #707070;
}

.review-input{
    width: 100%;
    height: 3rem;
    border: none;
    border-bottom: 1px solid lightgray;
}

.label input[type="text"]{
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.1rem;
    padding-top: 0.5rem;
}

button.submit{
    margin-top: 2rem;
    height: 2.4rem;
    background-color: black;
    color: white;
    width: 6rem;
    border-radius: 4px;
    cursor: pointer;
}

/* Similar Items */
.similar{
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.item{
    margin-right: 4rem;
    width: 30%;
}

.item img{
    width: 100%;
    height: auto;
}

.item:last-child{
    margin-right: 0rem;
}

.item p{
    font-family: "Open Sans", sans-serif;
}

.price{
    color: #a18a68;
}

/* footer */
footer{ 
    padding-top: 2rem;
}

.footer-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links a{
    color: gray;
    font-family: "Open Sans", sans-serif;
    padding-right: 2rem;
}

.newsletter-container input, button{
    border: none;
    background-color: white;
    font-family: "Open Sans", sans-serif;

}

.newsletter-container input[type="text"]{
    width: 300px;
    height: 2rem;
}

.newsletter-container{
    border-bottom: 1px solid black;
    margin-left: auto;
    width: 30%;
}

.newsletter-container button[type="submit"]{
    float: right;
}

.copyright{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    font-family: "Open Sans", sans-serif;
    

}

.copyright-img{
    width: 5%;
    position: relative;
    top: 3px;
    
}

.media{
    margin-left: auto;
    margin-top: 4px; 
}

#social{
    padding-left: 2rem;
}

.copyright span{
    font-size: 15px;
}
